Repository tinovyatkin/mailbuilder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet -f visualstudio, prettier --write, git rm

.lintstagedrc.json:

{
  "*.js": ["eslint --fix --quiet -f visualstudio", "prettier --write"],
  ".env": ["git rm"],
  "*.{yaml,yml,md,json}": ["prettier --write"]
}

Update dependency lint-staged to v10.2.11
  package.json
  yarn.lock
Due: prettier --write

Update dependency ts-jest to v26.1.1
  package.json
  yarn.lock
Due: prettier --write

just one specific package.json
  .github/workflows/npmpublish.yml
Due: prettier --write

upgrade devDependencies
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write

allow empty names
  lib/build.ts
  lib/header.ts
  lib/interfaces.ts
  test/build.test.js
  test/cjs/mailbuilder.test.cjs
Due: eslint --fix --quiet -f visualstudio, prettier --write

v2.1.0
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

include package.json
  package.json
Due: prettier --write

2.1.1
  package.json
Due: prettier --write

Update dependency typescript to v3.9.6
  package.json
  yarn.lock
Due: prettier --write

try sonarscanner
  .github/workflows/test.yml
  sonar-project.properties
Due: prettier --write

install lynx
  .github/workflows/test.yml
Due: prettier --write

sudo
  .github/workflows/test.yml
Due: prettier --write

exclude cjs
  sonar-project.properties
Due: none

trying to exclude
  sonar-project.properties
Due: none

fixing globs
  sonar-project.properties
Due: none

restore test
  sonar-project.properties
Due: none

adjust source directory
  sonar-project.properties
Due: none

trying to get coverage
  .c8rc.json
  .github/workflows/test.yml
  .mocharc.yml
  package.json
  reports/jest-reporter.xml
  sonar-project.properties
Due: prettier --write

Use SonarCloud
  .c8rc.json
  .github/workflows/test.yml
  .mocharc.yml
  package.json
  reports/jest-reporter.xml
  sonar-project.properties
Due: prettier --write

move all source to source
  index.ts
  sonar-project.properties
  src/build.ts
  src/header.ts
  src/index.ts
  src/interfaces.ts
  src/rfc-822-date.ts
  test/header.test.js
  test/rfc-822-date.test.js
  tsconfig.all.json
  tsconfig.json
Due: eslint --fix --quiet -f visualstudio, prettier --write

fix lefovers
  src/rfc-822-date.ts
Due: none

2.1.2
  package.json
Due: prettier --write

adjust-project-structure (#472)
  index.ts
  package.json
  sonar-project.properties
  src/build.ts
  src/header.ts
  src/index.ts
  src/interfaces.ts
  src/rfc-822-date.ts
  test/header.test.js
  test/rfc-822-date.test.js
  tsconfig.all.json
  tsconfig.json
Due: eslint --fix --quiet -f visualstudio, prettier --write

Update dependency eslint to v7.4.0
  package.json
  yarn.lock
Due: prettier --write

Update typescript-eslint monorepo to v3.6.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency c8 to v7.2.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/mocha to v8
  package.json
  yarn.lock
Due: prettier --write

Update typescript-eslint monorepo to v3.6.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency typescript to v3.9.7
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint to v7.5.0
  package.json
  yarn.lock
Due: prettier --write

Update typescript-eslint monorepo to v3.7.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency mailparser to v2.8.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/chai to v4.2.12
  package.json
  yarn.lock
Due: prettier --write

Update typescript-eslint monorepo to v3.7.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency mocha to v8.1.0
  package.json
  yarn.lock
Due: prettier --write
